# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
backend/.env
.agents
# Python
__pycache__/
*.py[cod]
*$py.class

# Database
safina.db
backend/safina.db
backend/media/safina.db

# Misc
_obsolete
node_modules/

# Uploads
uploads/*
!uploads/.gitkeep
